body {
    background-color: #7fb5d6;
    margin: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    width: 100%;
    height: 100px;
    opacity: 0.9;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
}

.header__img{
    width: auto;
    height: 90%;
    margin-left: 15px;
}

.title{
    display: flex;
    align-self: center;
    font-size: 50px;
    width: 90%;
}

.menu{
    width: 10%;
    height: 100%;
    margin:0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    position: fixed;
}


.menu_img{
    width: 35px;
    height: 35px;
    
}

.menu_list{
    height: 100%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.menu_line_top{
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
}

.menu_line{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px;
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    
}

.menu_line1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px;
    font-size: 12px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 11px;
}

.menu_line_in{
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    width: 100%;
    text-align: center;
}

.menu_line:hover, .menu_line_in:hover {
    background-color: #f1faee;
    text-decoration: underline;
    cursor: pointer;
    color: black;
}

.bigbox{
    background-color: #f1faee;
    width: 89% ;
    margin-left: 11%;
    height: 100%;
    margin-right: 10px;
    position: fixed;
}

.tendency{
    background-color: #f1faee;
    width: 89%;
    height: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    border-top-left-radius: 0px;
    z-index: 1;
    position: fixed;
}

.data1{
    background-color: inherit;
    width: 100% ;
    height: 400px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.global_info {
    background-color: inherit;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
    margin-right: 20px;
    border-radius: 10px;
    margin-left: 10px
}

.info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.global_box{
    width: 30%;
    height: 100%;
    border: solid 2px black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 6px 12px rgba(0,0,0,0.2);
}

.result_box{
    height: 30%;
    width: 89%;
    font-size: 26px;
    padding: 0px;
    margin: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.global_img{
    width: auto;
    height: 92%;
    margin: 0px;
    margin-left: 15px;
    padding: 0px;
    align-self: center;
}

.result_box_c1{
    text-align: center;
    width: 65%;
    margin: 0px;
}


.big_one{
    overflow: scroll;
    height: 90%;
}

.countries{
    width: 49%;
    height:100%;
    opacity: 0.9;
    border-radius: 10px;
    font-size: 11px;
    box-shadow: 2px 6px 12px rgba(0,0,0,0.2);
    overflow-y: scroll;
}


.container{
    background-color: whitesmoke;
    width: 49%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 6px 12px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.finder_line{
    width: 100%;
    height: 14%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.finder{
    width: 80%;
    margin-top: 10px;
    margin-left: 10px;
}

.go_button{
    margin-top: 10px;
}

.info_container{
    width: 95%;
    height: 85%;
    margin-left: 10px;
}

.symptoms{
    background-color:#f1faee;
    width: 89%;
    height: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    border-top-left-radius: 0px;
    z-index: -1;
    position: fixed;
}

.control{
    background-color:#f1faee;
    width: 89%;
    height: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    border-top-left-radius: 0px;
    z-index: -1;
    position: fixed;
}

.spiderman{
    background-color:#E1E5F4;
    width: 89%;
    height: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    border-top-left-radius: 0px;
    z-index: -1;
    position: fixed;
}

.trial_img{
    width: 100%;
    height: 100%;
}

.symptoms_box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;

}

.symptoms_img{
    width: 90%;
    height: 90%;
}


.text{
    width: 100%;
    margin: 0px;
    padding: 0px;
    align-self: center;
}

.table{
    width: 100%;
    height: 100%;
    text-align: center;
    
}

th{
    background-color: #7fb5d6;
    font-size: 16px;
    height: 30px;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

td{
    font-size: 14px;
    height: 30px;
}

tr:nth-child(even) {background-color: #dad6d6;}

.cline{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.cname{
    margin-left: 20px;
    font-size: 20px;
}

.canvas{
    height: 88%;
    width: 88%;
}

